/* :root selector is basically same as 'html' in this context. */
:root {
  --primary: #6200ee;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
  --secondary-variant: #018786;
  --base-spacing: 8px;
}

h1 {
  background: var(--primary);
  margin: calc(var(--base-spacing) * 2);
}

body {
  font-family: "Poppins", sans-serif;
}
