/* This could also just be 'html' selector.
  More info here: https://stackoverflow.com/questions/15899615/whats-the-difference-between-css3s-root-pseudo-class-and-html
  */
:root {
  --primary: #6200ee;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
  --secondary-variant: #018786;
  --background: #fff;
  --error: #b00020;
  --primary-text: #fff;
  --secondary-text: #000;
  --base-spacing: 8px;
  --border-primary: solid var(--primary-variant) 3px;
  --border-secondary: solid var(--secondary-variant) 3px;
}

body {
  font-family: "Poppins", sans-serif;
}

header,
section:nth-of-type(odd),
footer {
  background: var(--primary);
  color: var(--primary-text);
}

nav,
section:nth-of-type(even) {
  background: var(--secondary);
  color: var(--secondary-text);
}

nav {
  border-top: var(--border-secondary);
  border-bottom: var(--border-secondary);
}

footer {
  border-top: var(--border-primary);
}

/* Layout */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure,
h2 {
  margin: 0;
}

img {
  border-radius: 50%;
  box-shadow: calc(var(--base-spacing) * 0.5) var(--base-spacing)
    var(--base-spacing) black;
}

h1 {
  text-align: center;
}
